<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Veiculos</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      Test - OnCar
    </a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="input-group mt-3">
        <input class="form-control" type="search" id="marca" id="example-search-input" placeholder="Buscar por marca">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="buscar" onclick="procurarVeiculo($('#marca').val())">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target=".modal">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="index mt-3">
      <div class="row">
        <div class="col-7">
          <div class="card" style="width: 100%; height: auto">
            <div class="card-header">
              Lista de veiculos
            </div>
            <div class="card-body">
              <div class="list-group">
                <ul class="list-group" id="list-group">

                </ul>
              <!-- Modal -->
          </div>
            </div>
            <div class="modal" id="modal-form" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Adicionar veiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="form-modelo">Veiculo</label>
                        <input type="text" class="form-control" id="form-veiculo" maxlength="50" required>
                      </div>
                      <div class="form-group">
                        <label for="form-marca">Marca</label>
                        <input type="text" class="form-control" id="form-marca" maxlength="30" required>
                      </div>
                      <div class="form-group">
                        <label for="form-ano">Ano</label>
                        <input type="number" class="form-control" id="form-ano" min="1900" max="2999" required>
                      </div>
                      <div class="form-group">
                        <label for="form-descricao">Descrição</label>
                        <textarea class="form-control" id="form-descricao" required></textarea>
                      </div>
                      <div class="form-group form-check" id="checkbox" style="display: none;">
                        <input type="checkbox" class="form-check-input" id="form-vendido" value="">
                        <label class="form-check-label" for="form-vendido">Vendido</label>
                      </div>
                      <input type="hidden" id="form-id" value="">
                      <button type="button" id="form-submit" class="btn btn-secondary" onclick="criarVeiculo()">Salvar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
        <div class="col-5">
      <div class="card" style="width: 100%; height: auto">
        <div class="card-header">
          Detalhes do veiculo
        </div>
        <div class="card-body">
          <div>
            <div class="row">
              <div class="col">
                <h3 id="veiculo-automovel">Veiculo</h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Marca</h4>
                <p id="marca-automovel"></p> 
              </div>
              <div class="col">
                <h4>Ano</h4>
                <p id="ano-automovel"></p>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <h4>Descrição</h4>
                <p id="descricao-automovel"></p> 
              </div>
              <input type="hidden" name="id-hidden" id="id-hidden" value="">
            </div>
            <div class="row">
              <div class="col ">
                <span class="badge badge-secondary mb-3" id="badge-vendido">Vendido</span>
              </div>
              <input type="hidden" name="id-hidden" id="id-hidden" value="">
            </div>
            <button class="btn btn-secondary" type="button" data-toggle="modal" data-target=".modal" onclick="carregarEditarVeiculo($('#id-hidden').val())">Editar</button>
            <button class="btn btn-danger" type="button" onclick="deletarVeiculo($('#id-hidden').val())">Excluir</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- Scripts necessário para o funcionamento da página -->
  <script>
    $(document).ready(carregarVeiculos())

    async function carregarVeiculos(){
      await $.ajax({
        url: "http://localhost:3333/veiculos",
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        success: ({dados:dados}) => {
          let veiculosCarregados = ""

          veiculosCarregados = dados.map(dado=>{
          return (
          `<li class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between">
          <input type="hidden" id="id-automovel" value="${dado.id}">
          <a id="veiculo"  type="button" onclick="carregarUnico(${dado.id})"><h4>${dado.veiculo}</h3> <p>${dado.marca}</p> </a>
          </div>
          </div>
          </li>`)
        })

        $('#list-group').append(veiculosCarregados)

        },
        error: erro => {
          alert('Veiculo não encontrado!')
        }
      })
    }

    async function carregarUnico(id){
      await $.ajax({
        url: `http://localhost:3333/veiculos/${id}`,
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        success: ({dados}) => {
          $('#veiculo-automovel').html(dados[0].veiculo)
          $('#marca-automovel').html(dados[0].marca)
          $('#ano-automovel').html(dados[0].ano)
          $('#descricao-automovel').html(dados[0].descricao)
          $('#id-hidden').val(dados[0].id)
          $('#badge-vendido').html(dados[0].vendido ? "Vendido" : "A venda")
        },
        error: erro => {
          alert('Ocorreu um erro ao carregar veiculo')
        }
      })
    }

    async function criarVeiculo(){
      var dados = {
        veiculo: $('#form-veiculo').val(),
        marca: $('#form-marca').val(),
        ano: $('#form-ano').val(),
        descricao: $('#form-descricao').val()
      }

      await $.ajax({
        url: `http://localhost:3333/veiculos`,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(dados) ,
        success: data => {
          alert('deu certo', data)
          location.reload()
        },
        error: erro=>{
          alert('deu erro',erro)
        }
      })
    }

    async function carregarEditarVeiculo(id){
      $('.modal-title').html('Editar veiculo')
      $('#form-submit').attr("onclick", `editarVeiculo(${id})`)
      $('#checkbox').css("display","")

      await $.ajax({
        url: `http://localhost:3333/veiculos/${id}`,
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        success: ({dados}) => {
          $('#form-veiculo').val(dados[0].veiculo)
          $('#form-marca').val(dados[0].marca)
          $('#form-ano').val(dados[0].ano)
          $('#form-descricao').html(dados[0].descricao)
        },
        error: erro => {
          alert('Ocorreu um erro ao carregar veiculo')
        }
      })
    }

    async function editarVeiculo(id){
      const dados = {
        veiculo: $('#form-veiculo').val(),
        marca: $('#form-marca').val(),
        ano: $('#form-ano').val(),
        descricao: $('#form-descricao').val(),
        vendido: $('#form-vendido').prop("checked") ? 1 : 0
      }
      await $.ajax({
        url: `http://localhost:3333/veiculos/${id}`,
        type: 'PUT',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(dados),
        success: data =>{
          alert('Veiculo atualizado!')
        },
        error: erro => {
          alert('Falha ao atualizar veiculo')
        }
      })
    }

    async function deletarVeiculo(id){
      const certeza = confirm('Você tem certeza que deseja excluir esse veiculo?')
      if(confirm){
        await $.ajax({
          url: `http://localhost:3333/veiculos/${id}`,
          type: 'DELETE',
          dataType: 'json',
          contentType: 'application/json',
          success: data => {
            alert('Pronto! Veiculo deletado')
            location.reload()
          },
          error: erro => {
            alert('Não foi possível deletar no momento, tente mais tarde')
          }
          
        })
      }
    }

    async function procurarVeiculo(marca){
      $('#list-group').html('')
      if(!marca){
        await carregarVeiculos()
      }
      
      $.ajax({
        url: `http://localhost:3333/veiculos/search/${marca}`,
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        success: ({dados: dados})=>{
          let veiculosCarregados = ""
          
          veiculosCarregados = dados.map(dado => {
            return(
              `<li class="list-group-item list-group-item-action">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">
                  <input type="hidden" id="id-automovel" value="${dado.id}">
                  <a id="veiculo"  type="button" onclick="carregarUnico(${dado.id})"><h4>${dado.veiculo}</h3> <p>${dado.marca}</p> </a>
              </div>
              </div>
            </li>`
            )
          })

          $('#list-group').append(veiculosCarregados)

        },
        error: erro => {
          alert('Não foi possível encontrar esse veiculo')
        }
      })
    }
  
  </script>
</body>

</html>